*{
	box-sizing: border-box;
	color:black;
	font-family: 'Helvetica', sans-serif;
	/* This makes the widths of elements more consistent
		Full details here https://css-tricks.com/box-sizing/ */
}

body{
	margin: 0px; /* Often browsers have a 5px margin by deafult*/
	font-family: sans-serif;
	/* background-color: #dcedff; */
	background-image: url('../img/bg.png'); /*image from: https://unsplash.com/photos/2FCVdvwqmGg*/
	background-size: cover;
	background-color: black;
	color: #505a5b
}

.header{
	text-align: center;
}

main{
	max-width: 1000px;
	height: 90%;
	margin-top: 10px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(223, 238, 240,0.2);
	box-shadow: 10px 10px 20px -2px;
}
section{
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

header{
	background-color: #94b0da;
	color: white; /* more readable on an orange background */
	padding-top: 15px;
	padding-left: 15px;
	padding-bottom: 15px;
}

nav{
	width: 100%;
	height: 60px;
	padding-left: 50px;
	background-color: #94b0da;
	position: sticky;
	top: 0;
}

nav a, nav h3{
	float: left;
	margin: 0px;
	line-height: 60px;
	margin-left: 1em;
	margin-right: 1em;
	padding-left: 1em;
	padding-right: 1em;
	text-decoration: none;
}

nav a:hover{
	background-color: #ffffff;
}

h1{
	color: black;
	font-style: italic;
	font-size: 72px;
	text-align: center;
}

h5{
	font-weight: lighter;
}

p{
	font-weight: lighter;
}

/* Simple grid */
.g-row{
	width: 100%;
	overflow: hidden;
}

.g-row img{
	width: 100%; /*This makes all images in grids to be the size of their cell */
}

.g-50{
	width: 50%;
	float: left;
}

.g-30{
	width: 30%;
	float: left;
}

.g-70{
	width: 70%;
	float: left;
}

.show{
	border: 1px solid blue;
	padding: 2px;
}

.padded{
	padding: 20px; /* I add this to cells to add a little padding*/
}
